.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.masterlogin{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login{
  display: flex;
  flex-direction: column;
  gap:15px;
  /* margin-left: 100%; */
  width: 27%;
  border: 2px solid gray;
  margin-top: 10%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
}
.login h1{
  align-self: center;
  color: red
}
.login input{
  height: 30px;
  border-radius: 10px;

}

.login button{
  width: auto;
  align-self: center;
  height: 35px;
  background-color: skyblue;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: x-large;
  cursor: pointer;
}


.login button:disabled{
  color: gray;
  opacity: 0.5;
}

.home{
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  align-items: center;
  box-shadow: 0 0 5px gray;
}

.signup{
  /* border: 2px solid red; */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 15%;
}
.signup button{
  padding: 5px;
  color: white;
  background-color: black;
  width: 40%;
}

.otp{
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
}
.otp input[type="email"]{
  width: 70%;
  border-radius: 0;

}
.otp button{
  width: 30%;
}